* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-margin: 5px 0;
    --main-padding: 7px 0;
}

body {
    background-color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
} 
/* start header */
header .container {
    text-align: center;
    background-color: #999;
}
header .container h3 {
    text-transform: uppercase;
}
/* end header */

main .container {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}
main .container .ptadt {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
}
main .container input {
    outline: none;
    border: none;
    transition: 0.5s;
}
main .container input:focus {
    transform: scale(1.1);
    background-color: #999;
    color: #fff;
}
main .container button {
    color: orangered;
    transition: 0.5s;
}
main .container button:hover {
    letter-spacing: 2px;
}
main .container input, button {
    padding: var(--main-padding);
    border-radius: 5px;
}
main .container .ptadt input, input , button{
    width: 100%;
    margin: var(--main-margin);
}
main .container .ptadt .total {
    background-color: red;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
}
main .total::before {
    content: "Total:";
}

/* start search btns */
.searchbtns {
    display: flex;
    justify-content: space-between;
}
.searchbtns button {
    width: 45%;
}
/* end search btns */

/* media query */
@media (max-width: 767px) {
    main .container span {
        display: block;
    }
}

/* start show section */
main .show {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
#deleteAll {
    margin: 20px 0;
}
.show table {
    width: 100%;
    text-align: center;
    margin: 5px 0;
}
.show table th {
    text-transform: uppercase;
}

table th, td {
    padding: 5px;
}

/* end show section */

